/* global style sheet, used by multiple pages */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
	--light-text-color: #AFC1D6;
	--dark-text-color: #2b2b2b;
}
/* body styles */
body {
	/* background-color: #1e242e; */
	background-color: #ffffff;
	/* background-image: url("../assets/bkgd-img.png"); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	/* background-color: #181818; */
	color: var(--dark-text-color);
	font-family: "outfit", sans-serif;
}

body a {
	color: var(--light-text-color);
	text-decoration: none;
}
body ul{
	list-style: none;
}

h1 {
	font-size: 2.5rem; /* Adjust size */
	font-weight: bold;
	margin-bottom: 1rem;
}


main {
	/* border: 1px red solid; */
	/* background-color: white; */
	width: 84dvw;
	margin: 2rem auto 2rem auto;
	min-height: 75dvh;
	padding: 0px;
}


/* head space */

.topSpace { 
	/* height: 50pt;  */
	height: 60px;
} 

/* navbar */

/* Navbar container */
.topBar {
    display: flex;
    justify-content: space-between; /* Adjust space between left and right items */
    align-items: center;
    height: 50px;
    padding: 0.4rem 1rem;
    background-color: rgba(26, 28, 37, 0.9);
    color: var(--light-text-color);
    box-shadow: 0px 3px 20px #00000060;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Flex container for left-side content */
.nav-left {
    display: flex;
    align-items: center;
    gap: 20pt; /* Adds spacing between logo and title */
}

#nav-links {
	display: flex;
	gap: 20px;
}

.ham-menu, .off-screen-menu {
	display: none;
}

@media screen and (max-width: 768px) {
	#nav-links {
		display: none;
	}

	/* ham menu */
	.ham-menu {
		display: flex;
		height: 2rem;
		width: 1.5rem;
		margin-left: auto;
		position: relative;
		z-index: 11;

		& span {
			height: 2px;
			width: 100%;
			background-color: var(--light-text-color);
			border-radius: 25px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: .3s ease;
		}
	}
	.ham-menu span:nth-child(1) {
		top: 25%;
	}
	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}
	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.off-screen-menu {
		background-color:  rgba(34, 37, 49, 0.717);
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: -100vw;
		display: flex;
		flex-direction: column;
		align-items: center;    
		justify-content: center;
		text-align: center;
		backdrop-filter: blur(20px);
		/* font-size: 3rem; */
		transition: .3s ease;
		z-index: 5;

		& li {
			margin: 1rem;
			font-size: 1.5rem;
		}
	}
	.off-screen-menu.active {
		right: 0;
	}
	
}

#headLogo {
	/* height: 25pt; */
	height: 20pt;
	padding: none;
	margin: none;
	margin-top: 1%;
}

/* links and socials bar styles; defaults and for desktop */
.links img {
	height: 20pt;
}

.links {
	border-top: #FFFFFF7a solid 1px;
	border-left: #FFFFFF3a solid 1px;
	border-right: #FFFFFF3a hidden 1px;
	border-bottom: #FFFFFF3a solid 1px;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	display: block;
	position: fixed;
	padding: 5px;
	position: fixed;
	margin: auto;
	right: 0;
	top: 20vh;
	width: fit-content;
	background-color: rgba(49, 59, 68, 0.7);
	box-shadow:  0px 8px 22px #00000060,
		   inset 0px -8px 22px #2b37459f;
	backdrop-filter: blur(20);
}
.links ul {
	/* border: red 1pt solid; */
	display: flex;
	flex-direction: column;
	padding: 0px; 
	margin: 0px;

}
.links li {
	/* border: rgb(255, 0, 0) 1px solid; */
	border-radius: 10pt;
	margin: 0px;
	padding: 5pt;
}
.links li:hover {
	animation-name: buttonAnimation;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}


footer {
	/* border: blue 1px solid; */
    font-size: 10pt;
    font-style: italic;
    /* margin-top: 50pt; */
    padding-top: 20pt;
	padding-bottom: 20pt;
	background-color: hsl(0, 0%, 0%);
	font-style: normal;
	display: block;
	padding: 2rem;
	color: var(--light-text-color);
}

#footer-info {
	/* border: 1px red solid; */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-section {
	/* border: 1px solid lime; */
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1rem;
}

.footer-title {
	font-size: 1.3rem;
	padding-bottom: 1rem;
}

.footer-content {
	font-size: 1rem;
}

#footer-note {
	/* border: 1px solid yellow; */
	text-align: center;
	padding: 1rem;
}