/* global style sheet, used by multiple pages */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* animations, imports, and utilities */
@keyframes buttonAnimation {
	from {text-shadow: inherit;
		translate: 0em, 0em;}
	to {text-shadow: rgb(89, 200, 255) 1px 0 10px;
		translate: 0em -1pt;}
}


/* body styles */
body {
	background-color: #1e242e;
	/* background-color: #181818; */
	color: #AFC1D6;
	font-family: "outfit", sans-serif;
}

body a {
	color: #AFC1D6;
}
body ul{
	list-style: none;
}

/* head space */

.topSpace { 
	/* height: 50pt;  */
	height: 5.5rem;
} 

/* floating top bar */

.topBar {
	border-top: #ffffff77 solid 1px;
	border-left: #FFFFFF3a solid 1px;
	border-right: #FFFFFF3a solid 1px;
	border-bottom: #FFFFFF3a solid 1px;
	display: block;
	height: fit-content;
	width: 84vw;	
	min-width: 16rem;
	font-size: 15pt;
	position: fixed;
	margin: auto;
	top: 1rem;
	left: 0px;
	right: 0px;
/* neumorphic fx */
	box-shadow:  0px 8px 22px #00000060,
		   inset 0px -8px 22px #2b37455a;
	border-radius: 10pt;
	background-color: rgba(28, 31, 43, 0.5);
	backdrop-filter: blur(20px);
	text-shadow: 5px 5px 10px #00000090;
	z-index: 10;
}

.topBar ul {
	/* border: yellowgreen 2px solid; */
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 5pt;
}

.topBar li {
	/* border: cyan 1px solid; */
	flex:auto;
	text-align: center;
}
.topBar a:hover{
	animation-name: buttonAnimation;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
.topBar a {
	/* border: cyan 1px solid; */
	text-decoration: none;
	padding: none;
	margin: none;
	font-size: 1.3rem;
}
.topBarLogo {
	/* border: red 1px solid; */
	padding-top: 4px;
	flex: 1;
}
#headLogo {
	/* height: 25pt; */
	height: 20pt;
	padding: none;
	margin: none;
	margin-top: 1%;
}

/* links and socials bar styles; defaults and for desktop */
.links img {
	height: 20pt;
}

.links {
	border-top: #FFFFFF7a solid 1px;
	border-left: #FFFFFF3a solid 1px;
	border-right: #FFFFFF3a hidden 1px;
	border-bottom: #FFFFFF3a solid 1px;
	border-radius: 10pt;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	display: block;
	position: fixed;
	padding: 0px;
	position: fixed;
	margin: auto;
	right: 0;
	top: 20vh;
	width: fit-content;
	background-color: rgba(49, 59, 68, 0.7);
	box-shadow:  0px 8px 22px #00000060,
		   inset 0px -8px 22px #2b37459f;
	backdrop-filter: blur(20);
}
.links ul {
	/* border: red 1pt solid; */
	display: flex;
	flex-direction: column;
	padding: 0px; 
	margin: 0px;

}
.links li {
	/* border: rgb(255, 0, 0) 1px solid; */
	border-radius: 10pt;
	margin: 0px;
	padding: 5pt;
}
.links li:hover {
	animation-name: buttonAnimation;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}


#main {
	/* border: 1px red solid; */
	width: 84dvw;
	margin: 2rem auto 2rem auto;
	min-height: 75dvh;
	padding: 0px;
}


footer {
	/* border: blue 1px solid; */
    font-size: 10pt;
    font-style: italic;
    margin-top: 50pt;
    padding-top: 20pt;
	padding-bottom: 20pt;
	background-color: hsl(0, 0%, 0%);
	font-style: normal;
	display: block;
	padding: 2rem;
}

#footer-info {
	/* border: 1px red solid; */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-section {
	/* border: 1px solid lime; */
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1rem;
}

.footer-title {
	font-size: 1.3rem;
	padding-bottom: 1rem;
}

.footer-content {
	font-size: 1rem;
}

#footer-note {
	/* border: 1px solid yellow; */
	text-align: center;
	padding: 1rem;
}